.md-grid {
  max-width: 1440px;
}

.md-tooltip {
  width: 200px;
  text-align: center;
  font-size: 14px;
}

.rank-1 {
  background-color: #f34444;
}
.rank-2 {
  background-color: #ff7f0f;
}
.rank-3 {
  background-color: #ffdd57;
}
.rank-4 {
  background-color: #a0e515;
}
.rank-5 {
  background-color: #23cd5e;
}
.rank-6 {
  background-color: #00c2b8;
}
.ranking-bar {
  height: 0.75rem;
  border-radius: 4px;
  border: 1px solid #737373;
  border-color: rgba(0, 0, 0, 0.15);
}

.trainer-pokemon-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1100px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.trainer-pokemon-container @media (max-width: 768px) {
  grid-template-columns: 1fr;
}

.trainer-pokemon-card {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #eef4ff;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #eef4ff;
  min-width: 250px;
  row-gap: 0.5rem;
}

.trainer-pokemon-image-name-container {
  display: block;
  text-align: center;
}

.trainer-pokemon-name-level-container {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 12px;
  border-radius: 10px;
  padding: 2px;
  align-items: center;
}

.trainer-pokemon-attributes {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  text-align: center;
  align-items: center;
  grid-column: 2/2;
}

.trainer-pokemon-moveset {
  display: grid;
  grid-column: 1/3;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.trainer-pokemon-move {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
